<div class="container" id='contact'>
    <h1>Contact Us</h1>
    <div class="outer">
      <div class="box1">
        <h3>ADDRESS</h3>
        <p>4th Floor, Plot No.22, 145 Askari 10. Lahore Pakistan</p>
        <div class="row"><h4>03134536101</h4></div>
        <div class="row"><h4>mazeem@gmail.com</h4></div>
      </div>
      <form class="box2" action="/send-message" method="post">
        <input type="name" name="name" placeholder="Name" class="input" required/>
        <input type="email" name="email" placeholder="Email" class="input" required/>
        <textarea
          name="message"
          cols="30"
          rows="5"
          placeholder="Tell us more about your needs....." required></textarea>
        <input type="submit" value="Send" class="submit" />
      </form>
    </div>
  </div>

 