<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/game.css">
</head>
<body>
  <div class="gameDiv">
  <div style="background-color: chartreuse;"><a href="/games/ticTacToe" >Tic Tac Toe</a></div>
  <div style="background-color: yellowgreen;"><a href="/games/hangman" >Hangman</a></div>
  <div style="background-color: skyblue;"><a href="/games/memoryGame" >Memory Cards</a></div>
  <div style="background-color: violet;"><a href="/games/rockPaper" >Rock Paper Scissors</a></div>
  <div style="background-color: purple;"><a href="/games/typing" >Typing Speed Test</a></div>
  <div style="background-color: orangered;"><a href="/games/scrambleGame" >Word Scramble Game</a></div>
  <div style="background-color: rgb(255, 217, 0);"><a href="/games/guessNumber" >Guess Number</a></div>
  </div>
</body>
</html>