body{
  margin-bottom: 50px;
}
.carousel-item img {
    object-fit: cover; /* Prevents stretching/cropping */
    height: 400px; 
    max-width: 1000px;
    margin: auto;
  }   
  .carousel{
    margin: 80px;
    margin-top: 50px;
  } 

  .storyDiv{
    width: 200px;
    height: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    overflow: hidden;
    padding-bottom: 20px;
}
.storyDiv img{
  height: 60%;
  width: 100%;
}
 h1{
    margin: 20px;
    text-align: center;
 }

 .title{
font-weight: bold;
 }

.align {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
 a{
  text-decoration: none;
  }
  .genresDiv{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }