<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sketcImageDiv">
        <% for( let i=0; i < sketchImageUrls.length; i++ ) { %>
            <img class="sketchImages" src="<%- sketchImageUrls[i] %>" alt="">
            <% } %>
    </div>

</body>

</html>