<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        text-align: center;
    }
    .flex{
        display: flex;
        align-items: start;
        justify-content: center;

    }
    .box1{width: 50%;font-size: x-large;}
    .box2{width: 50%;}
    .box2 img{
        width: 90%;
        height: auto;
        margin-top: 100px;
    }
</style>
<body>
    <div class="flex">
        <div class="box1">
    <h1><%= story.title %></h1>
    <p><%= story.story %></p></div>
        <div class="box2">
            <img src="<%= story.image %>" alt="">
        </div>
    </div>
</body>
</html>